.elemento-imagen{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
}

.cuadricula-imagenes{
    margin-inline: 20px;
}

.boton-subir {
  display: flex;
  background-color: #4CAF50;
  margin-left: 20px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 600;
  padding: 10px 16px;
  font-size: 14px;
  width: 150px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 16px;
  transition: background-color 0.3s ease;
  svg{
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

.boton-subir:hover {
  background-color: #45a049;
}
